<ul data-diary-ui-start-at-value="<%= booking.start_at %>"
    data-diary-ui-duration-value="<%= booking.duration %>">
   <li>DATE: <b><%= booking.start_at %></b> (<%= booking.duration %>s)</li>
   <li>STATE: <b><%= booking.status %></b> (<%= booking.booking_type %>)</li>
</ul>
