<tr data-diary-ui-url-value="<%= bookings_path(diary_id: diary&.id) %>"
    data-diary-ui-id-value="<%= diary&.external_id.presence || diary&.id %>"
    data-diary-ui-date-value="<%= diary&.start_date %>">
  <td><%= diary.id %></td>
  <td><%= diary.title %></td>
  <td><%= diary.start_date %></td>
  <td><%= render partial: "booking", collection: diary&.bookings || Booking.all %>
</tr>
