<%= turbo_frame_tag "booking_#{booking.id}" do %>
  <div class="flex flex-col">
    <table class='flex-table'>
      <tr>
        <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
          <%= booking.reason %>
        </td>
        <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
          <%= booking.status %>
        </td>
        <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
          <%= booking.start_at %>
        </td>
        <td class="px-3 py-4 text-sm font-normal text-left text-red-600 underline break-words bg-light">
          <%= link_to "Edit", edit_booking_path(booking), class: "bg-gray-800 hover:bg-gray-700 text-white text-sm font-semibold px-4 py-1 border border-gray-700 rounded-lg shadow-sm" %>
          </td>
          <td colspan="2" class="px-3 py-4 text-sm font-normal text-left text-red-600 underline break-words bg-light">
            <%= link_to "Delete", booking_path(booking), style: 'margin-left: 5px', data: {confirm: "Are you sure?", "turbo-method": :delete} %>
            </td>
        </td>
      </tr>
    </table>
  </div>
<% end %>
