<%= turbo_frame_tag "booking_#{booking.id}" do %>
  <table class='booking-table'>
    <tbody>
      <tr>
        <td class="text-sm font-normal text-left text-gray-600 bg-gray-50">
          <%= booking.reason %>
        </td>
        <td class="text-sm font-normal text-left text-gray-600 bg-gray-50">
          <%= booking.start_time %>
        </td>
        <td class="table-links text-blue-500">
          <%= link_to booking_path(booking), data: {turbo: false}, title: "Show Calendar" do %>
            <i id="calendar" class="icon fa fa-calendar calendar cursor-pointer"></i>
          <% end %>
        </td>
        <td class="table-links text-gray-600">
          <%= link_to edit_booking_path(booking), data: { action: "click->booking-ui#showForm" } do %>
            <i id="edit" class="icon fa fa-edit edit cursor-pointer"></i>
          <% end %>
        </td>
        <td class="table-links text-red-600">
          <%= link_to booking_path(booking), style: 'margin-left: 5px', data: {confirm: "Are you sure?", "turbo-method": :delete} do %>
            <i id="trash" class="icon fa fa-trash trash cursor-pointer"></i>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
